<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= t('billboards.new.title') %></h1>
        <%= render 'billboards/new/billboards_form' %>
    </div>
  </div>
</div>